# Decision tree

In [1]:
import pandas as pd
df=pd.read_csv('salaries.csv')
df

C:\Users\ASUS\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [2]:
inputs =df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
cle=LabelEncoder()
jle=LabelEncoder()
dle=LabelEncoder()

In [7]:
inputs['company_n']=cle.fit_transform(inputs['company'])
inputs['job_n']=jle.fit_transform(inputs['job'])
inputs['degree_n']=dle.fit_transform(inputs['degree'])

In [8]:
inputs_n=inputs.drop(['company','job','degree'],axis='columns')

In [9]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [10]:
from sklearn import tree

In [11]:
model= tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [13]:
model.predict([[2,2,1]])

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [14]:
model.predict([[2,0,1]])

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

# Excercise

In [15]:
df2=pd.read_csv('titanic.csv')

In [16]:
model2=tree.DecisionTreeClassifier()

In [17]:
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
input2=df2[['Pclass','Sex','Age','Fare']]
input2.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [19]:
target2=df2['Survived']
target2.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
ale=LabelEncoder()

In [22]:
input2['gender']=ale.fit_transform(input2['Sex'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18084\3442600058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input2['gender']=ale.fit_transform(input2['Sex'])

In [23]:
input3=input2.drop(['Sex'],axis='columns')

In [24]:
itrain,itest,ttrain,ttest=train_test_split(input3,target2,train_size=0.9)

In [25]:
model.fit(itrain,ttrain)

DecisionTreeClassifier()

In [29]:
model.predict(itest[0:5])

array([1, 0, 1, 0, 0], dtype=int64)

In [30]:
ttest[0:5]

47     1
574    0
3      1
567    0
723    0
Name: Survived, dtype: int64

In [31]:
model.score(itest,ttest)

0.8111111111111111